@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Montserrat&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-font: 'Dancing Script', cursive;
    --secondary-font: 'Courgette', cursive;
    --body-font: 'Montserrat', sans-serif;
    --main-font-color: #0aa8c0;
    --secondary-font-color: #ffc880;
    --body-font-color: #e78200;
    --main-background-color: rgba(255, 248, 231, 0.726);
    --secondary-dark-color: rgb(150, 148, 148);
}
html{
    font-family: var(--body-font);
    font-size: 10px;
    scroll-behavior: smooth;
}
.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.loader h2{
    padding: 2rem;
}
.loader.hidden{
    animation: fadeout 2s;
    animation-fill-mode: forwards;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
@keyframes fadeout{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 1em;
  }

body::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px #794b37a2;
}

body::-webkit-scrollbar-thumb {
background-color: var(--main-font-color);
border: 1px solid black;
}
section{
    padding: 3.9rem 0;
    overflow: hidden;
}
img{
    width: 100%;
    max-width: 100%
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}
.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/* header-styles */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),transparent);
}

/* nav-styles */
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav img{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 10));
    transform: translateY(5%);
    height: 10rem;
    width: 10rem;
}
.menu-toggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}
.fa-times{
    display: none;
}
.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: var(--secondary-dark-color);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%); /* where the magic happens */
    transition: transform .5s;
}
.nav::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.397);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.open .fa-times{
    display: block;
}
.open .fa-bars{
    display: none;
}
.open .nav-list{
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}
.nav-item{
    border-bottom: 1px solid rgba(255,255,255, .3)
}
.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}
.nav-link:hover{
    color: var(--main-font-color);
}

/* hero-styles */
.hero{
    width: 100%;
    height: 100vh;
    background: url('images/hero.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    text-align: center;
    align-items: center;
}
.sub-headline{
    font-size: 6.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 10));
    font-weight: 300;
    line-height: .6;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: 3s;
}
.first-letter{
    text-transform: uppercase;
    font-size: 9rem;
}
.headline{
    color: var(--main-font-color);
    font-size: 3.7rem;
    font-family: var(--main-font);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 10));
    font-weight: 900;
    margin-right: -.1rem;
    animation: scale .5s forwards;
}
.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #fff;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 10));
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: 3.4s;
}
.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-right::before, .line-left::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 2.2s;
}
.line-right::before{
    border-right-color: #fff;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 10));
    right: 0;
}
.line-left::before{
    border-left-color: #fff;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 10));
    left: 0;
}
.asterisk{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: 3.5s;
}
.headline-description h5{
    color: white;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 10));
    font-size: 1.4rem;
    margin-bottom: 3rem;
    letter-spacing: 3px;
    margin-right: -3px;
}
.btn{
    display: inline;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}
.cta-btn{
    font-size: 1.1rem;
    background-color: #fff;
    padding: .9rem 1.8rem;
    border-radius: .4rem;
    transition: background-color .5s;
}
.cta-btn:hover, .cta-btn:focus{
    color: #fff;
    background-color: var(--secondary-font-color);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 10));
}
.single-animation{
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 3.5s;
}
/* about-styles  */
.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}
.about-designs{
    background-color: var(--main-background-color);
}
.about-designs .global-headline{
    margin-top: 6.9rem;
}
.global-headline .asterisk{
    color: var(--body-font-color);
    margin: 2.4rem 0;
}
.global-headline .sub-headline{
    letter-spacing: -.1rem;
    line-height: .42;
}
.about-info{
    text-align: center;
}
.about-description{
    margin-bottom: 3rem;
}
.about-description p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
}
.body-btn{
    font-size: 1.5rem;
    color: var(--body-font-color);
    position: relative;
    transition: color .5s;
    font-weight: bolder;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 10));
}
.body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
    transition: background-color .5s;
}
.body-btn:hover, .body-btn:focus{
    color: var(--main-font-color);
    cursor: pointer;
}
.body-btn:hover::before, .body-btn:focus::before{
    background-color: var(--main-font-color);
    cursor: pointer;
}

/* image-break-styles */
.tarts{
    background: url('images/tarts.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 40vh;
}

/* wedding-styles */
.row{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
.image-group{
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}
.image-group img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .image-group {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .image-group {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}
.weddings .about-description{
    padding-top: 3rem;
    margin-bottom: 0;
}
.weddings{
    background-color: var(--main-background-color);
    padding-bottom:20rem;
}
/* modal-styles */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}
.modal-content{
    background-color: rgba(255, 248, 231);
    margin: 10% auto; /* from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation: fadeUp 1.5s forwards;
    }
.close {
    color: rgb(99, 97, 97);
    float: right;
    font-size: 3rem;
    font-weight: bold;
    transform: translateY(-2rem);
    }

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
/* customsCake-styles */
.image-group-custom{
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}
.image-group-custom img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.custom{
    background: url('images/cakepops.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 20rem;
    padding-bottom: 20rem;
}
@media screen and (max-width: 600px) {
    .image-group-custom {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

/* bread-styles */
.bread{
    background-color: var(--main-background-color);
    height: 120vh;
}
.bread-group-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

/* recipes-styles */
.recipes{
    background: url('images/backdrop.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.between{
    min-height: 110vh;
    display: flex;
    align-items: center;
}
.recipe-group{
    text-align: center;
    margin: 5rem auto;
}

/* contact/footer-styles */
footer{
    padding: 7.9rem 0;
    background-color: var(--secondary-dark-color);
    color: white;
    text-align: center;
    position: relative;
}
.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: var(--secondary-dark-color);
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
.back-to-top i{
    display: block;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;
}
.footer-content{
    overflow: hidden;
}
.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}
.footer-content-about{
    margin-bottom: 5.4rem;
}
.footer-content-about p{
    line-height: 2;
}
.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}
.social-icons i{
    font-size: 2rem;
    color: black;
}
.social-icons a{
    font-size: 1.5rem;
    padding-right: 2rem;
    color: white;
    transition: color .5s;
}
.social-icons a:hover, .social-icons a:hover{
    color:var(--secondary-font-color);
    cursor: pointer;
}
.none{
    filter: none;
}

/* media queries */
@media screen and (min-width: 900px){
    section{
        padding: 7.9rem;
    }
    .menu-toggle{
        display: none;
    }
    .nav{
        justify-content: space-between;
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item{
        margin: 0 2.4rem;
        border: none;
    }
    .nav-item:last-child{
        margin-right: 0;
    }
    .nav-link{
        font-size: 1.3rem;
    }
    .active{
        position: relative;
    }
    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--main-font-color);
        left: 0;
        bottom: -3px;
    }
    .sub-headline{
        font-size: 10rem;
    }
    .first-letter{
        font-size: 12.2rem;
    }
    .headline{
        font-size: 4.7rem;
    }
    .line{
        max-width: 11.4rem;
    }
    .about-info{
        display: flex;
        align-items: center;
    }
    .about-info img{
        transform: translateY(7rem);
    }
    .modal-content{
        margin: 5% auto;
    }
    .custom{
        background: url('./images/cakes.jpg') center no-repeat;
        background-attachment: fixed;
        background-color: var(--main-background-color);
    }
    .padding-right{
        padding-right: 7rem;
    } 
    .footer-content{
        max-width: 77.5rem;
        margin: auto;
    }
    .footer-content-about{
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }
}

/* animations */
@keyframes fadeUp{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale{
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes grow{
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes fadeDown{
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
} 
@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}
@keyframes up{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}